* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times,
        Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

header {
    background: rgba(50, 0, 75, 1.5);
    height: 70px;
    width: 100vw;
}

header ul {
    padding-inline-start: 0px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

header .right-nav .links {
    float: left;
}

.left-nav {
    float: left;
    margin: 10px 0px 0px 5px;
    padding: 0px;
}

.right-nav {
    float: right;
    margin: 10px;
}

.right-nav li {
    display: inline-flex;
    margin: 10px;
}

.right-nav .links {
    display: inline-flex;
    margin: 0 5px;
}

.links li {
    margin-left: -10px;
}

.section1 {
    background: url("images/naruto-on-netflix.jpg") no-repeat center center/cover;
    position: absolute;
    top: 70px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 140px);
    z-index: -1;
    filter: blur(0px);
}


.loading-text {
    margin: calc(0vh - 70px) calc(50vw - 10px);
    top: 40%;
    left: 100%;
    font-size: 50px;
    color: orangered;
}

button {
    top: 40%;
    left: 50%;
    width: 100px;
    height: 100px;
    transition-duration: 0.7s;
    background: url("images/sharingan.png");
    background-size: cover;
    border: none;
}

button:hover {
    box-shadow: 0 20px 30px rgb(255, 20, 0, 0.1);
    transform: scale(1.7) rotate(360deg);
}

button:active {
    color: red;
    background-color: rgba(255, 68, 0, 0.40);
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: auto;
    }
}

.center {
    display: block;
}

.container {
    height: 50vh;
    position: relative;
    border: none;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}